@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --background: #fff;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #5fdde5, #6886c5);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
    }
}

.heading {
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    word-spacing: 3px;
    transform: translatex(50%);
    margin-right: 50%;
    color: #28527a;
    -webkit-transform: translatex(50%);
    -moz-transform: translatex(50%);
    -ms-transform: translatex(50%);
    -o-transform: translatex(50%);
}

.emoji {
    --esize: 150px;
    margin: 16px;
    width: var(--esize);
    height: var(--esize);
}

.head {
    background-image: radial-gradient( rgb(255, 218, 18), rgb(255, 218, 25), rgb(255, 134, 11));
    border-radius: 50%;
    box-shadow: 5px 5px 15px #555555;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.eyes {
    position: absolute;
    top: calc(var(--esize) * 0.3);
    left: calc(var(--esize) * 0.5);
}

.eye {
    --ewidth: calc(var(--esize) * 0.12);
    --eheight: calc(var(--esize) * 0.15);
    background-image: radial-gradient(rgb(166, 102, 1), rgb(100, 50, 0));
    position: absolute;
    width: var(--ewidth);
    height: var(--eheight);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.left_eye {
    left: calc(var(--esize) * -0.2);
}

.right_eye {
    right: calc(var(--esize) * -0.2);
}

.frowning {
    --mheight: calc(var(--esize) * 0.45);
    --mweidth: calc(var(--esize) * 0.5);
    position: absolute;
    background-color: rgb(255, 218, 18, 0.1);
    bottom: calc(var(--esize) * 0);
    left: calc(var(--esize) * 0.5);
    transform: translateX(-50%);
    width: var(--mweidth);
    height: var(--mheight);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-top: 9px solid rgb(100, 50, 0);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.neutral {
    --mheight: calc(var(--esize) * 0.05);
    --mweidth: calc(var(--esize) * 0.5);
    position: absolute;
    background-color: rgb(100, 50, 0);
    bottom: calc(var(--esize) * 0.32);
    border-radius: 20px;
    left: calc(var(--esize) * 0.5);
    transform: translateX(-50%);
    width: var(--mweidth);
    height: var(--mheight);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.expressionless {
    --mheight: calc(var(--esize) * 0.05);
    --mweidth: calc(var(--esize) * 0.5);
    position: absolute;
    background-color: rgb(100, 50, 0);
    bottom: calc(var(--esize) * 0.32);
    border-radius: 20px;
    left: calc(var(--esize) * 0.5);
    transform: translateX(-50%);
    width: var(--mweidth);
    height: var(--mheight);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.eyes_util {
    position: absolute;
    top: calc(var(--esize) * 0.35);
    left: calc(var(--esize) * 0.5);
}

.wide_eye {
    --ewidth: calc(var(--esize) * 0.2);
    --eheight: calc(var(--esize) * 0.05);
    background-color: rgb(100, 50, 0);
    border-radius: 20px;
    position: absolute;
    width: var(--ewidth);
    height: var(--eheight);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.wide_left__eye {
    left: calc(var(--esize) * -0.3);
}

.wide_right__eye {
    right: calc(var(--esize) * -0.3);
}

.smile {
    --mheight: calc(var(--esize) * 0.45);
    --mweidth: calc(var(--esize) * 0.5);
    position: absolute;
    background-color: rgb(255, 218, 18, 0.1);
    bottom: calc(var(--esize) * 0.2);
    left: calc(var(--esize) * 0.5);
    transform: translateX(-50%);
    width: var(--mweidth);
    height: var(--mheight);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-bottom: 9px solid rgb(100, 50, 0);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}